# Ignore all __pycache__ folders recursively
**/__pycache__/

# Or more specifically:
home/MawileBot/src/__pycache__/
/home/.ipynb_checkpoints

# Ignore the whole temp folder
home/output_splits/temp/

# Ignore the whole sessions folder
home/MawileBot/sessions/userbot.session
home/MawileBot/sessions/userbot.session-journal

# Ignore the real config file
#home/MawileBot/config.ini

# Ignore the secret_player_data
home/MawileBot/src/secret_player_data.json

# Ignore the whole images folder
/images/
images/

# Ignore temp in MAC
.DS*

# Other
Dockerfile
Info_Davide.txt