# Ignore all __pycache__ folders recursively
**/__pycache__/

# Or more specifically:
home/MawileBot/src/__pycache__/
/home/.ipynb_checkpoints

# Ignore the whole temp folder
home/output_splits/temp/

# Ignore the whole sessions folder
home/MawileBot/sessions/userbot.session
home/MawileBot/sessions/userbot.session-journal

# Ignore the whole images folder
/images/
images/

# Ignore temp in MAC
.DS*